<p-panel class="h-full">
    <ng-template pTemplate="header" class="font-bold text-center">
        <div class="font-bold text-center">Votre commande</div>
    </ng-template>

    <ng-container *ngFor="let c of commande">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="w-full font-bold flex align-items-center justify-content-between ">
                    <div class="text-left">{{ c?.title }}</div>
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />
                </div>
            </ng-template>

            <div class="flex justify-content-between">
                <div>
                    <span>{{ c?.quantity }} X </span>
                    <span>{{ c?.price }} € HT</span>
                </div>
                <span>{{ c?.price* c?.quantity}} € HT</span>
            </div>
        </p-panel>
    </ng-container>
    <div class="flex justify-content-between align-content-center font-bold text-xl mt-2">
        <div>Total :</div>

        <div>
            {{ price }} € HT
        </div>
    </div>
</p-panel>