:host ::ng-deep .p-panel-header {
    background-color: white !important;
    border-top: 0;
    border-radius: 0;
    text-align: center;
}
:host ::ng-deep .p-panel-content {
    background-color: white !important;
    border-top: 0;
    border-radius: 0;
}