<div class="p-5 border-round shadow-1">
    <div class="mb-4">
        <h1 class="text-blue-400 pb-2 m-0">Recapitulatif</h1>
    </div>
    <h4 class="text-blue-400 text-xl font-bold mb-1 mt-5">👥 Gestion des Exposants</h4>
    <hr class="mb-3 mt-1" />

    <div class="mb-3">
        <button pButton type="button" label="Ajouter un exposant" icon="pi pi-plus"
                class="p-button-primary" (click)="openCreateDialog()"></button>
    </div>

    <div class="mb-4" *ngIf="exposants.length > 0">
        <p-table [value]="exposants" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Fonction</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exposant>
                <tr>
                    <td>{{ exposant.nom }}</td>
                    <td>{{ exposant.prenom }}</td>
                    <td>{{ exposant.fonction }}</td>
                    <td>
                        <button pButton type="button" icon="pi pi-pencil"
                                class="p-button-rounded p-button-text p-button-warning mr-2"
                                (click)="openEditDialog(exposant)"></button>
                        <button pButton type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-text p-button-danger"
                                (click)="deleteExposant(exposant.id!)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div *ngIf="exposants.length === 0" class="mb-4">
        <p class="text-500">Aucun exposant enregistré pour le moment.</p>
    </div>
    
 <h4 class="text-blue-400 text-xl font-bold mb-1">📅 Date du Forum</h4>
    <hr class="mb-3 mt-1" />
    <p class="mb-4">Le mardi 25 novembre 2025</p>

    <h4 class="text-blue-400 text-xl font-bold mb-1">📍 Adresse du Forum</h4>
    <hr class="mb-3 mt-1" />
    <p class="mb-4">Hall 5 - Parc des Expositions de la porte de Versailles, Paris</p>

    <h4 class="text-blue-400 text-xl font-bold mb-1">⏰ Horaires d'ouverture</h4>
    <hr class="mb-3 mt-1" />
    <div class="flex flex-row gap-2 mb-4">
        <div><strong>Exposants :</strong> à partir de 7h – Merci d’arriver avant 8h40</div>
        <div><strong>Visiteurs :</strong> de 9h à 17h</div>
    </div>

    <h4 class="text-blue-400 text-xl font-bold mb-1">🅿️ Parking</h4>
    <hr class="mb-3 mt-1" />
    <p class="mb-2">
        Si vous avez souscrit à des places de parking dans le BC2 pour le jour du Forum, vous devrez vous garer au
        <strong>parking P6</strong>.
    </p>
    <p class="mb-4">
        Un ticket vous sera remis par votre commercial sur le Forum pour sortir (⚠️ toute sortie est définitive).
    </p>

    <h4 class="text-blue-400 text-xl font-bold mb-1">📦 Informations Montage / Démontage / Livraisons</h4>
    <hr class="mb-3 mt-1" />
    <div class="flex flex-column gap-2 mb-4">
        <div>Accès aux pavillons 5.2 et 5.3.1 pour montage/démontage/livraisons : <strong>Inscription obligatoire sur
               <a href="https://logipass.viparis.com/" target="_blank">Logipass VIPARIS</a> </strong></div>
        <div>Pour l'inscription : <strong><a href="https://drive.google.com/drive/folders/1TSznVNsDC71_Uw3pbRQgpGpAfSLsOomf?usp=drive_link" target="_blank">Mode d'emploi LOGIPASS</a> </strong></div>
        <div>Retrouvez les <a href="https://drive.google.com/drive/folders/1ug538R5Ie-gPPv2UMumP-R_wEUzkCVum?usp=sharing" target="_blank">consignes d'accès générales au Forum pour le</a> <strong>montage/démontage et les livraisons</strong> le
            jour avant l'ouverture au public.</div>
    </div>

    <h4 class="text-blue-400 text-lg font-semibold mb-1">🛠 Horaires de montage (24/11)</h4>
    <hr class="mb-3 mt-1" />
    <div class="flex flex-column gap-4 mb-4">
        <div>À partir de 10h40 pour les standistes</div>
        <div>À partir de 17h si vous apportez votre propre mobilier ou matériel (selon horaire Logipass)</div>
    </div>

    <h4 class="text-blue-400 text-lg font-semibold mb-1">🧹 Horaires de démontage (25/11)</h4>
    <hr class="mb-3 mt-1" />
    <div class="flex flex-column gap-2 mb-4">
        <div>À partir de 17h jusqu'à 19h (sans standiste)</div>
        <div>Jusqu’à 21h (avec standiste)</div>
    </div>

    <p class="mb-2">
        Le <strong>Forum ESTP n’est pas responsable</strong> des colis déposés par un coursier. Il appartient à
        l’exposant concerné de les récupérer.
    </p>

    <p class="mb-4">
       Il faut bien renseigner la <strong>plaque d’immatriculation</strong> du véhicule accédant au Forum sur
        <strong>LOGIPASS</strong>.
    </p>

    <p class="text-sm text-600 italic">
        (Ceci concerne uniquement l'accès au Forum lors du montage, du démontage et pour les livraisons avant
        l'ouverture au public. Cela ne concerne pas le stationnement payant pendant l'ouverture au public.)
    </p>

    <h4 class="text-blue-400 text-xl font-bold mb-1">BC1/BC2</h4>
    <hr class="mb-3 mt-1" />
    
    <div class="grid gap-2">
        <button pButton type="button" label="Télécharger le BC1" icon="pi pi-download"
            class="p-button-outlined p-button-primary col-12" (click)="downloadBC1()"></button>
        <button pButton type="button" label="Télécharger le BC2" icon="pi pi-download"
            class="p-button-outlined p-button-success col-12" (click)="downloadBC2()"></button>
    </div>
    <ng-container *ngIf="ficheSpsConfig && ficheSpsConfig.config_value">
        <h4 class="text-blue-400 text-xl font-bold mb-1">Fiche SPS</h4>
        <hr class="mb-3 mt-1" />
        <div class="flex flex-column gap-2">
            <p class="mb-4">{{ ficheSpsConfig.description }}</p>
            <button pButton type="button" label="Télécharger la Fiche SPS" icon="pi pi-download"
                class="p-button-outlined p-button-info" (click)="downloadFicheSps()"></button>
        </div>
    </ng-container>
    <ng-container *ngIf="dossierTechniqueConfig && dossierTechniqueConfig.config_value">
        <h4 class="text-blue-400 text-xl font-bold mb-1">Dossier technique standiste</h4>
        <hr class="mb-3 mt-1" />
        <div class="flex flex-column gap-2">
            <p class="mb-4">{{ dossierTechniqueConfig.description }}</p>
            <button pButton type="button" label="Télécharger le Dossier Technique Standiste" icon="pi pi-download"
                class="p-button-outlined p-button-warning" (click)="downloadDossierTechnique()"></button>
        </div>
    </ng-container>
</div>
   

<!-- Dialog for Create/Edit Exposant -->
<p-dialog [(visible)]="showDialog" [header]="isEditMode ? 'Modifier un exposant' : 'Ajouter un exposant'"
          [modal]="true" [style]="{width: '450px'}" [draggable]="false" [resizable]="false">
    <div class="flex flex-column gap-3">
        <div>
            <label for="nom" class="block mb-2">Nom</label>
            <input id="nom" type="text" pInputText [(ngModel)]="currentExposant.nom"
                   class="w-full" placeholder="Nom" />
        </div>
        <div>
            <label for="prenom" class="block mb-2">Prénom</label>
            <input id="prenom" type="text" pInputText [(ngModel)]="currentExposant.prenom"
                   class="w-full" placeholder="Prénom" />
        </div>
        <div>
            <label for="fonction" class="block mb-2">Fonction</label>
            <input id="fonction" type="text" pInputText [(ngModel)]="currentExposant.fonction"
                   class="w-full" placeholder="Fonction" />
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Annuler" icon="pi pi-times"
                class="p-button-text" (click)="closeDialog()"></button>
        <button pButton type="button" label="Enregistrer" icon="pi pi-check"
                (click)="saveExposant()"></button>
    </ng-template>
</p-dialog>