<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel header="I. Votre stand">
    <div class="grid">
      <div class="col-9 p-3 pt-4">
        <div class="grid flex-wrap p-4">
          <ng-container *ngFor="let pack of pack1s">
            <h1>{{pack.titre}}</h1>
            <div class="border-2 border-round-xl border-solid border-primary grid flex">
              <img [src]="baseUrl+ '/api' + pack.img" alt="" class="col-4 m-0 p-0 border-round-left-xl">
              <div class="col-8 p-4">
                <h3 class="text-primary">{{pack.description}}</h3>
                <ng-container *ngFor="let option of pack.options">
                  <p class="ml-3"><i class="pi pi-check" style="font-size: 1rem"></i>
                    {{option.option_description}}</p>
                </ng-container>
                <div class="grid mt-1 align-items-center">
                  <div class="col-2 font-bold ">Surface/Prix</div>
                  <p-dropdown class="col-6" styleClass="w-full" [options]="pack.surfaces" 
                   [(ngModel)]="selectedOption">
                    <ng-template pTemplate="selectedItem">
                      {{ selectedOption.surface }}m² pour {{selectedOption.prix}} € HT
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                      {{ option.surface }}m² pour {{option.prix}} € HT
                  </ng-template>
                  </p-dropdown>
                <p-button label="Ajouter" [disabled]="addBtnIsDisabled()" icon="pi pi-plus"
                                        class="col-4" styleClass="w-full" (click)="addToCommand(pack)" />
                                
                </div>
              </div>

            </div>
          </ng-container>

        </div>
      </div>
      <app-commande class="col-3 h-full"></app-commande>
    </div>
    <div class="mb-3 flex justify-content-between">
      <div></div>
      <button pButton label="Suivant" (click)="activeIndex = 1"></button>
    </div>
  </p-tabPanel>

  <p-tabPanel header="II. Options">
    <div class="grid">
      <div class="col-9 pt-4">
        <div class="grid">
          <ng-container *ngFor="let option of options">
            <div class="col-12 sm:col-6 md:col-4 lg:col-3 h-max">
              <p-card header="{{ option.name }}" subheader="{{ option.prix_ht }} € HT" class="w-max">
                <ng-template pTemplate="header">
                  <img alt="Card" [src]="baseUrl+'/api' + option.img" class="w-full" />
                </ng-template>
                <p>{{ option.description || 'No description available' }}</p>

                <ng-template pTemplate="footer">
                  <div class="flex flex-column w-full gap-2">
                    <div class="flex justify-content-between align-items-center gap-2 w-full">
                      <p-inputNumber *ngIf="[94, 105, 106, 107, 108, 109].includes(option.id)"
                        [(ngModel)]="optionQuantities[option.id]" [showButtons]="true" buttonLayout="horizontal"
                        inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="1" [max]="option.qmax"
                        class="flex-grow-1 w-full" styleClass="w-full" inputStyleClass="w-full"
                        decrementButtonClass="p-button-secondary outlined"
                        incrementButtonClass="p-button-secondary  outlined" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus" mode="decimal" />
                    </div>
                    <p-button label="Ajouter" class="w-full" styleClass="w-full"
                      (click)="addOption(option.id, optionQuantities[option.id])"></p-button>
                  </div>
                </ng-template>

              </p-card>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-3">
        <app-commande class="h-full"></app-commande>
      </div>
    </div>
    <div class="mb-3 flex justify-content-between">

      <button pButton label="Retour" (click)="activeIndex = 0" class="p-button-outlined"></button>
      <button pButton label="Suivant" (click)="activeIndex = 2"></button>
    </div>
  </p-tabPanel>

  <p-tabPanel header="III. Votre reservation">


<div class="mb-3 flex justify-content-between">

      <button pButton label="Retour" (click)="activeIndex = 1" class="p-button-outlined"></button>
      <button pButton label="Suivant" (click)="activeIndex = 3"></button>
    </div>
  </p-tabPanel>

  <p-tabPanel header="IV. Page de book">
    <p>En cours de developpement....</p>
    <div class="mb-3 flex justify-content-between">
      <button pButton label="Retour" (click)="activeIndex = 2" class="p-button-outlined"></button>
    </div>
  </p-tabPanel>
</p-tabView>
