<p-tabView>
    <p-tabPanel header="I. Votre stand">
      <div class="grid">
        <div class="col-9 p-3 pt-4">
          <div class="grid gap-3">
            <ng-container *ngFor="let pack of pack1s">
              <h1 class="col-12">{{ pack.titre }}</h1>
              <div class="col-12 border-2 border-round-xl border-solid border-primary grid">
                <div class="col-12 md:col-4 p-0">
                  <img [src]="baseUrl + '/api' + pack.img" alt="" class="w-full border-round-left-xl" />
                </div>
                <div class="col-12 md:col-8 p-4">
                  <h3 class="text-primary">{{ pack.description }}</h3>
                  <ng-container *ngFor="let option of pack.options">
                    <p class="ml-2">
                      <i class="pi pi-check mr-1" style="font-size: 1rem"></i> {{ option.option_description }}
                    </p>
                  </ng-container>
                  <div class="grid mt-3 align-items-center">
                    <div class="col-fixed" style="width: 150px;">
                      <span class="font-bold">Surface/Prix</span>
                    </div>
                    <div class="col">
                      <p-dropdown
                        class="w-full"
                        [options]="pack.surfaces"
                        [(ngModel)]="selectedOption"
                      >
                        <ng-template pTemplate="selectedItem">
                          {{ selectedOption.surface }}m² pour {{ selectedOption.prix }}
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                          {{ option.surface }}m² pour {{ option.prix }} €
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="col-fixed" style="width: 150px;">
                      <p-button
                        label="Ajouter"
                        [disabled]="addBtnIsDisabled()"
                        icon="pi pi-plus"
                        styleClass="w-full"
                        (click)="addToCommand(pack)"
                      ></p-button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-3">
          <app-commande class="h-full"></app-commande>
        </div>
      </div>
    </p-tabPanel>
  
    <p-tabPanel header="II. Options">
      <div class="grid">
        <div class="col-9 pt-4">
          <div class="grid gap-3">
            <ng-container *ngFor="let option of options">
              <div class="col-12 sm:col-6 md:col-4 lg:col-3">
                <p-card header="{{ option.name }}" subheader="{{ option.prix_ht }} €">
                  <ng-template pTemplate="header">
                    <img
                      alt="Card"
                      [src]="baseUrl + '/api' + option.img"
                      class="w-full"
                    />
                  </ng-template>
                  <p>{{ option.description || 'No description available' }}</p>
                  <div class="flex align-items-center gap-2" *ngIf="option.qmax > 1">
                    <p-button icon="pi pi-plus" iconPos="right"></p-button>
                    <p-inputNumber
                      [(ngModel)]="option.id"
                      inputId="minmaxfraction"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="5"
                    ></p-inputNumber>
                    <p-button icon="pi pi-minus" iconPos="left"></p-button>
                  </div>
                  <ng-template pTemplate="footer">
                    <p-button label="Ajouter" class="w-full"></p-button>
                  </ng-template>
                </p-card>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-3">
          <app-commande class="h-full"></app-commande>
        </div>
      </div>
    </p-tabPanel>
  
    <p-tabPanel header="III. Votre reservation">
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
  
    <p-tabPanel header="IV. Page de book">
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
  </p-tabView>
  