<p-tabView>
    <p-tabPanel header="I. Votre stand">
        <div class="grid">
            <div class="col-9 p-3 pt-4">
                <div class="grid flex-wrap">
                    <div class="col-3">
                        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet...
                            </p>
                            <ng-template pTemplate="footer">
                                <div class="flex gap-3 mt-1">
                                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                    <p-button label="Save" class="w-full" styleClass="w-full" />
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                    <div class="col-3">
                        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet...
                            </p>
                            <ng-template pTemplate="footer">
                                <div class="flex gap-3 mt-1">
                                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                    <p-button label="Save" class="w-full" styleClass="w-full" />
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                    <div class="col-3">
                        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet...
                            </p>
                            <ng-template pTemplate="footer">
                                <div class="flex gap-3 mt-1">
                                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                    <p-button label="Save" class="w-full" styleClass="w-full" />
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                    <div class="col-3">
                        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet...
                            </p>
                            <ng-template pTemplate="footer">
                                <div class="flex gap-3 mt-1">
                                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                    <p-button label="Save" class="w-full" styleClass="w-full" />
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                    <div class="col-3">
                        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet...
                            </p>
                            <ng-template pTemplate="footer">
                                <div class="flex gap-3 mt-1">
                                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                    <p-button label="Save" class="w-full" styleClass="w-full" />
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                    <div class="col-3">
                        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet...
                            </p>
                            <ng-template pTemplate="footer">
                                <div class="flex gap-3 mt-1">
                                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                    <p-button label="Save" class="w-full" styleClass="w-full" />
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                    <div class="col-3">
                        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet...
                            </p>
                            <ng-template pTemplate="footer">
                                <div class="flex gap-3 mt-1">
                                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                    <p-button label="Save" class="w-full" styleClass="w-full" />
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                    <div class="col-3">
                        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '250px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet...
                            </p>
                            <ng-template pTemplate="footer">
                                <div class="flex gap-3 mt-1">
                                    <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                    <p-button label="Save" class="w-full" styleClass="w-full" />
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                </div>
            </div>
            <app-commande class="col-3 h-full"></app-commande>
        </div>
    </p-tabPanel>
    <p-tabPanel header="II. Options">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
    </p-tabPanel>
    <p-tabPanel header="III. Votre reservation">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-tabPanel>
    <p-tabPanel header="IV. Page de book">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-tabPanel>
</p-tabView>