<div class="card p-3 bg-white mt-3 mr-3 w-full">
  <div class="flex justify-content-between align-items-center">

    <h3 class="text-blue-400 p-2">Liste des BC1</h3>
  <div>
      <p-button *ngIf="!readOnly" icon="pi pi-plus" label="Créer un BC1" (click)="openCreateDialog()"></p-button>
    <!-- <p-button severity="success" icon="pi pi-file" styleClass="ml-1" (click)="exportCSV()" [disabled]="!commandes.length" label="Exporter CSV"></p-button> -->
  </div>


  </div>
<p-table
  #dt
  [value]="commandes"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  filterDisplay="row"
  styleClass="w-full"
>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" style="text-align: center; color: #999;">Pas de donnés</td>
    </tr>
  </ng-template>

  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
      <th pSortableColumn="entreprise.nom" style="width: 200px;">Entreprise <p-sortIcon field="entreprise.nom" /></th>
      <th pSortableColumn="pack">Pack <p-sortIcon field="pack" /></th>
      <th pSortableColumn="valide">Valide <p-sortIcon field="valide" /></th>
      <th pSortableColumn="fct_envoyee" *ngIf="role === 'tres' || role === 'pres'">Envoyée <p-sortIcon field="valide" /></th>
      <th pSortableColumn="fct_payee" *ngIf="role === 'tres' || role === 'pres'">Payée <p-sortIcon field="valide" /></th>
      <th pSortableColumn="total_ht">Total HT <p-sortIcon field="total_ht" /></th>
      <th pSortableColumn="created">Créé le <p-sortIcon field="created" /></th>
      <th pSortableColumn="validation_lieu">Lieu de validation <p-sortIcon field="validation_lieu" /></th>
      <th>Actions</th>
    </tr>
    <tr>
      <th><p-columnFilter field="id" matchMode="contains" /></th>
      <th><p-columnFilter field="entreprise.nom" matchMode="contains" /></th>
      <th><p-columnFilter field="pack" matchMode="contains" /></th>
      <th></th>
      <th *ngIf="role === 'tres' || role === 'pres'"></th>
      <th *ngIf="role === 'tres' || role === 'pres'"></th>
      <th><p-columnFilter field="total_ht" matchMode="contains" /></th>
      <th><p-columnFilter field="created" matchMode="contains" /></th>
      <th><p-columnFilter field="validation_lieu" matchMode="contains" /></th>
      <th></th>
    </tr>
  </ng-template>

  <!-- Body -->
  <ng-template pTemplate="body" let-cmd>
    <tr>
      <td>{{ cmd.id }}</td>
      <td style="padding-right: 150px;">{{ cmd.entreprise?.nom ?? '-' }}</td>
      <td>{{ cmd.packDescription ?? '-' }}</td>
       <td>
        <p-tag *ngIf="cmd.valide" icon="pi pi-check" severity="success" value="Oui"></p-tag>
        <p-tag *ngIf="!cmd.valide" icon="pi pi-times" severity="warning" value="Non"></p-tag>
      </td>
      <td *ngIf="role === 'tres' || role === 'pres'">
        <p-tag *ngIf="cmd.fct_envoyee" icon="pi pi-check" severity="success" value="Oui"></p-tag>
        <p-tag *ngIf="!cmd.fct_envoyee" icon="pi pi-times" severity="warning" value="Non"></p-tag>
      </td>
      <td *ngIf="role === 'tres' || role === 'pres'">
        <p-tag *ngIf="cmd.fct_payee" icon="pi pi-check" severity="success" value="Oui"></p-tag>
        <p-tag *ngIf="!cmd.fct_payee" icon="pi pi-times" severity="warning" value="Non"></p-tag>
      </td>
      <td>{{ cmd.total_ht }}</td>
      <td>{{ cmd.created | date: 'dd/MM/yyyy à HH:mm' }}</td>
      <td>{{ cmd.validation_lieu ?? '-' }}</td>
      <td class="flex justify-content-between">
        <button *ngIf="!cmd.valide && !readOnly" pButton [text]="true" severity="success" icon="pi pi-check-circle" pTooltip="Valider BC1" tooltipPosition="bottom" (click)="validerCommande($event, cmd)"></button>
        <button *ngIf="(role === 'tres' || role === 'pres') && !readOnly" pButton [text]="true" icon="pi pi-receipt" pTooltip="Gestion de facture" tooltipPosition="bottom" (click)="openFactureDialog(cmd)"></button>
        <button pButton [text]="true" icon="pi pi-eye" pTooltip="Consulter" tooltipPosition="bottom" (click)="showDetailsDialog(cmd)"></button>
        <button *ngIf="!readOnly" pButton [text]="true" severity="danger" icon="pi pi-trash" pTooltip="Supprimer" tooltipPosition="bottom" (click)="deleteCommande($event, cmd)"></button>
        <p-confirmPopup />
        <a pButton [text]="true" icon="pi pi-file" pTooltip="Consulter PDF" tooltipPosition="bottom"
           target="_blank" [href]="baseUrl+'/api/uploads/bc1/'+cmd.entreprise?.id+'_BC1.pdf'"></a>
        <button *ngIf="!readOnly" pButton [text]="true" severity="warning" icon="pi pi-pencil" pTooltip="Modifier" tooltipPosition="bottom" (click)="openModifyDialog(cmd)"></button>
        <button pButton [text]="true" *ngIf="(role === 'tres' || role === 'pres') && !readOnly" severity="primary" icon="pi pi-check" pTooltip="Facture payée" tooltipPosition="bottom" (click)="setFacturePayee(cmd)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

    <p-dialog 
    header="Details BC1" 
    [modal]="true"
    [(visible)]="detailsDialog" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="true">

    <h3 class="text-blue-400">Pack</h3>
    {{detailsCommande?.packDescription || 'Pas de pack'}}
    <h3 class="text-blue-400">Options</h3>

<p-table [value]="detailsOptions">
 <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5" style="text-align: center; color: #999;">Pas de donnés</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th >ID </th>
      <th >Titre </th>
      <th >Prix HT </th>
      <th>Image</th>
      <th >Qte</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-opt>
    <tr>
      <td>{{ opt.id }}</td>
      <td>{{ opt.name ?? '-' }}</td>
      <td>{{ opt.prix_ht ?? '-' }} €</td>
      <td>
        <img *ngIf="opt.img" [src]="baseUrl+'/api'+opt.img" alt="img" width="40" height="40" />
        <span *ngIf="!opt.img">-</span>
      </td>
      <td>{{ opt.qteCommande }}</td>
    </tr>
  </ng-template>
</p-table>
<h3 class="text-blue-400">Total HT</h3>    {{detailsCommande?.total_ht || 'Pas de pack' | number: '1.2-2'}} €
<h3 class="text-blue-400">Total TTC</h3>    {{getTotalTva(detailsCommande?.total_ht || 0 )| number: '1.2-2'}} €
 <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="detailsDialog = false" />
        <p-button label="Save" (onClick)="detailsDialog = false" />
    </div>
</p-dialog>
</div>
 <p-dialog 
    header="Modifier le BC1" 
    [modal]="true"
    [(visible)]="modifyDialog" 
    [style]="{ width: '50rem' }" 
    [maximizable]="true">
    <h3 class="text-blue-400">Pack</h3>
<div class="field">
        <label for="pack">Type</label>
        <p-dropdown 
        (onChange)="getPackForCommande()"
        [options]="pack" 
        [(ngModel)]="modifyPackId" 
        optionLabel="type" 
        optionValue="pack_id"
        class="w-full"
        styleClass="w-full"
        placeholder="Pack" />
    </div>
<div class="field">
        <label for="pack">surface/prix</label>
        <p-dropdown 
        *ngIf="modifyCommande"
        [options]="modifyPackOptions" 
        [(ngModel)]="modifyCommande.pack1_id" 
        optionValue="surface_id"
        class="w-full"
        styleClass="w-full"
        placeholder="Surface prix" 
        (onChange)="getModifyCommandePrix()">
         <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" style="text-align: center; color: #999;">Pas de donnéss</td>
    </tr>
  </ng-template>
         <ng-template let-item pTemplate="item">
    <div class="custom-option">
      <span class="surface">{{ item.surface }} m²</span>
      <span class="prix"> - {{ item.prix }} €</span>
    </div>
  </ng-template>
   <ng-template let-item pTemplate="selectedItem">
    <div class="custom-selected">
      <span class="surface">{{ item.surface }} m²</span>
      <span class="prix"> - {{ item.prix }} €</span>
    </div>
  </ng-template>
    </p-dropdown>
    </div>
<h3 class="text-blue-400">Options</h3>
<p-table [value]="optionsBc1">

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID </th>
      <th pSortableColumn="name">Titre </th>
      <th pSortableColumn="prix_ht">Prix HT </th>
      <th>Image</th>
      <th>Qte</th>
    </tr>
     <tr>
        <th><p-columnFilter type="text" field="id" /></th>
        <th><p-columnFilter type="text" field="name" /></th>
        <th><p-columnFilter type="text" field="prix_ht" /></th>
        <th></th>
        <th></th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-opt>
    <tr>
      <td>{{ opt.id }}</td>
      <td>{{ opt.name ?? '-' }}</td>
      <td>{{ opt.prix_ht ?? '-' }} €</td>
      <td>
        <img *ngIf="opt.img" [src]="baseUrl + '/api' + opt.img" alt="img" width="40" height="40" />
        <span *ngIf="!opt.img">-</span>
      </td>
      <td style="width: 25%;">
        <p-inputNumber
                    [(ngModel)]="opt.qteCommande" [showButtons]="true" buttonLayout="horizontal"
                    inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="0" [max]="[94, 105, 106, 107, 108, 109, 113, 114].includes(opt.id) ? opt.qmax : 1"
                    class="flex-grow-1 w-full mb-2" styleClass="w-full" inputStyleClass="w-full"
                    decrementButtonClass="p-button-secondary outlined"
                    incrementButtonClass="p-button-secondary  outlined" incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus" mode="decimal" 
                    (ngModelChange)="modifierOption(opt)"/>
    </td>
    </tr>
  </ng-template>
</p-table>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between align-items-center">
        <div>

    <h3 class="text-black-400">Total HT: {{modifyTotalHt | number: '1.2-2'}} €</h3>
    <h3 class="text-black-400">Total TTC: {{(modifyTotalHt || 0) * 1.2 | number: '1.2-2'}} €</h3>
        </div>
        <div>

            <p-button 
                label="Anuuler" 
                [text]="true" 
                severity="secondary" 
                styleClass="mt-2"
                (click)="modifyDialog = false"
                />
                <p-button 
                styleClass="mt-2"
                label="Valider" 
                severity="primary" 
                (click)="validerOptionPackCommande()"
              />
        </div>
    </div>
        </ng-template>
 </p-dialog>

<p-dialog header="Facture" [responsive]="false" [(visible)]="factureVisible" [modal]="true"  [style]="{width: '900px'}" 
[maximizable]="true">
 <app-bc1-souscrit-facture
  [modifyCommandeFact]="modifyCommande"
  [modifyPackId]="modifyPackId"
  [modifyPackOptions]="modifyPackOptions"
  [modifyPackSurface]="modifyPackSurface"
  [modificationsOptions]="modificationsOptions"
  [modifyTotalHt]="modifyTotalHt"
  [modificationCommandeOption]="modificationCommandeOption"
  [modificationContact]="modificationContact"
  (envoyerFactureEvent)="envoyerFacture()"
  id="contentToExport" #factureBc1
 ></app-bc1-souscrit-facture>
   <p-button label="Modifier" severity="primary" outlined="true" (click)="openModifierFactureDialog()" styleClass="w-4" />
   <p-button label="Envoyer" severity="primary" (click)="envoyerFacture()" styleClass="w-4" />
   <p-button label="PDF facture" severity="primary" (click)="downloadFacture()" styleClass="w-4" />

</p-dialog>

 <p-dialog 
    header="Créer un BC1" 
    [modal]="true"
    [(visible)]="createDialog" 
    [style]="{ width: '50rem' }" 
    [maximizable]="true">
        <h3 class="text-blue-400">Entreprise</h3>
<div class="field">
        <label for="pack">Nom de l'entreprise</label>
        <p-dropdown 
        [options]="ajoutEntreprises" 
        [(ngModel)]="ajoutEntreprise" 
        optionLabel="nom" 
        [filter]="true"
        filterBy="nom" 
        [showClear]="true"
        class="w-full"
        styleClass="w-full"
        placeholder="Nom" />
    </div>
    <h3 class="text-blue-400">Pack</h3>
<div class="field">
        <label for="pack">Type</label>
        <p-dropdown 
        [options]="ajoutPacks" 
        [(ngModel)]="ajoutPack" 
        optionLabel="type" 
        class="w-full"
        styleClass="w-full"
        placeholder="Pack" />
    </div>
<div class="field">
        <label for="pack">surface/prix</label>
        <p-dropdown 
        [options]="ajoutPack?.surfaces" 
        [(ngModel)]="ajoutPackSurfacePrix"
        class="w-full"
        styleClass="w-full"
        placeholder="Surface/prix" 
        (onChange)="calculerCreerPrix()"
        >
         <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" style="text-align: center; color: #999;">Pas de donnéss</td>
    </tr>
  </ng-template>
         <ng-template let-item pTemplate="item">
    <div class="custom-option">
      <span class="surface">{{ item.surface }} m²</span>
      <span class="prix"> - {{ item.prix }} €</span>
    </div>
  </ng-template>
   <ng-template let-item pTemplate="selectedItem">
    <div class="custom-selected">
      <span class="surface">{{ item.surface }} m²</span>
      <span class="prix"> - {{ item.prix }} €</span>
    </div>
  </ng-template>
    </p-dropdown>
    </div>
<!-- <h3 class="text-blue-400">Options</h3>
<p-table [value]="ajoutOption">

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID </th>
      <th pSortableColumn="name">Titre </th>
      <th pSortableColumn="prix_ht">Prix HT </th>
      <th>Image</th>
      <th>Qte</th>
    </tr>
     <tr>
        <th><p-columnFilter type="text" field="id" /></th>
        <th><p-columnFilter type="text" field="name" /></th>
        <th><p-columnFilter type="text" field="prix_ht" /></th>
        <th></th>
        <th></th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-opt>
    <tr>
      <td>{{ opt.id }}</td>
      <td>{{ opt.name ?? '-' }}</td>
      <td>{{ opt.prix_ht ?? '-' }} €</td>
      <td>
        <img *ngIf="opt.img" [src]="baseUrl + '/api' + opt.img" alt="img" width="40" height="40" />
        <span *ngIf="!opt.img">-</span>
      </td>
      <td style="width: 25%;">
        <p-inputNumber
                    [(ngModel)]="opt.qteCommande" [showButtons]="true" buttonLayout="horizontal"
                    inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="0" [max]="[94, 105, 106, 107, 108, 109, 113, 114].includes(opt.id) ? opt.qmax : 1"
                    class="flex-grow-1 w-full mb-2" styleClass="w-full" inputStyleClass="w-full"
                    decrementButtonClass="p-button-secondary outlined"
                    incrementButtonClass="p-button-secondary  outlined" incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus" mode="decimal" (ngModelChange)="calculerCreerPrix()"
                    />
    </td>
    </tr>
  </ng-template>
</p-table> -->
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between align-items-center">
        <div>

    <h3 class="text-black-400">Total HT: {{ajoutTotalHt || 0 | number: '1.2-2'}} €</h3>
    <h3 class="text-black-400">Total TTC: {{(ajoutTotalHt || 0) * 1.2 | number: '1.2-2'}} €</h3>
        </div>
        <div>

            <p-button 
                label="Anuuler" 
                [text]="true" 
                severity="secondary" 
                styleClass="mt-2"
                (click)="createDialog = false"
                />
                <p-button 
                styleClass="mt-2"
                label="Valider" 
                severity="primary" 
                (click)="createNouvelleCommande()"
              />
        </div>
    </div>
        </ng-template> 
 </p-dialog>

  <p-dialog header="header" [(visible)]="bc1DialogVisible" [modal]="true" [style]="{ width: '960px' }" [baseZIndex]="-1">
    <app-facture-bc1 style="z-index: -1;" id="contentToExport"  #factureBc1 *ngIf="modifyCommande && modifyCommande.entreprise && modificationContact"
                  [signature]="" [contactPrincipal]="modificationContact" [prixTotal]="modifyTotalHt ?? 0"
                  [nomFichierBc1]="modifyCommande.entreprise.id + '_BC1'" [entreprise]="modifyCommande.entreprise" [fait]=""></app-facture-bc1>
        <p-button icon="pi pi-plus" label="Regénérer le BC1" (click)="regenerateBC1Pdf()" styleClass="w-full"></p-button>

  </p-dialog>

 