<p class="text-3xl font-semibold mt-6">Création de votre dossier</p>
<p class="mt-6">
    La creation d'un dossier pour participer au Forum ESTP se passe sur cette plateforme. <br><br>

La 45eme edition du Forum ESTP a lieu le 26 novembre 2024 de 9h a 17h au hall 5 part des expositions, porte de Versailles a Paris . <br><br>

Vous avez besoin d'environ 20 minutes pour remplir toutes les informations necessaires pour remplir le Bon de Commande 1 (BC1). Vous pouvez reprendre le processus de remplissage du dossier a tout moment avant la date limite, Yenregistrement est automatique. <br><br>

La date limite pour signer votre BC1 et pour remplir votre Page de Book est le 7 octobre 2024, alors assurez-vous de soumettre votre dossier des que possible pour garantir votre participation au Forum. <br><br>

La date d'ouverture du Bon de Commande 2  (BC2) est prevue le 30 septembre 2024, vous y aurez acces a partir de cette date. <br><br>

Nous vous recommandons de bien lire toutes les instructions avant de commencer et de preparer toutes les informations requises, telles que les details de votre entreprise, les produits ou les services que vous souhaitez presenter, etc. <br><br>

N'hesitez pas a contacter votre commercial referent si vous avez des questions ou avez besoin d'aide lors du processus de creation du dossier. <br><br>
</p>