<div class="card p-3 bg-white mt-3 mr-3">
    <div class="flex justify-content-between align-items-center">
        <h3 class="text-blue-400 p-2">Entreprises</h3>
        <p-button *ngIf="!readOnly" icon="pi pi-plus" label="Ajouter une entreprise" (click)="openCreateDialog()"></p-button>
    </div>
    <p-table [value]="entreprises" dataKey="id" [rows]="10" styleClass="w-full"
    [rowsPerPageOptions]="[10, 25, 50]" [resizableColumns]="true" 
    columnResizeMode="expand" 
    [paginator]="true"
>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:25%">
                    Id <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="nom" style="width:25%">
                    Nom <p-sortIcon field="nom" />
                </th>
                  <th pSortableColumn="siren" style="width:25%">
                    Siren <p-sortIcon field="siren" />
                </th>
                  <th pSortableColumn="commercial" style="width:25%">
                    Commercial <p-sortIcon field="commercial" />
                </th>
                 <!-- <th pSortableColumn="created" style="width:25%">
                    Créer le  <p-sortIcon field="created" />
                </th>
                 <th pSortableColumn="modified" style="width:25%">
                    Modifiée le <p-sortIcon field="modified" />
                </th> -->
                 <th pSortableColumn="adresse" style="width:25%">
                    Adresse <p-sortIcon field="adresse" />
                </th>
                  <th style="width:25%" *ngIf="role=='rescom'">
                    Actions
                </th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="id" [showClearButton]="false" matchMode="contains" />
                </th>
                <th>
                    <p-columnFilter type="text" field="nom" [showClearButton]="false" matchMode="contains" />
                </th>
                <th>
                    <p-columnFilter type="text" field="siren" [showClearButton]="false" matchMode="contains" />
                </th>
                <th>
                    <p-columnFilter type="text" field="commercial" [showClearButton]="false" matchMode="contains" />
                </th>
                <!-- <th>
                    <p-columnFilter type="text" field="created" [showClearButton]="false" matchMode="contains" />
                </th>
                <th>
                    <p-columnFilter type="text" field="modified" [showClearButton]="false" matchMode="contains" />
                </th> -->
                <th>
                    <p-columnFilter type="text" field="adresse" [showClearButton]="false" matchMode="contains" />
                </th>
                <th>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entreprise let-editing="editing">
            <tr>
                <td>
                    
                            {{ entreprise.id  || '-'}}
                    
                </td>
                <td>
                            {{ entreprise.nom  || '-'}}
                        
                    
                </td>
                <td>
                
                    {{ entreprise.siren || '-'}}
                </td>
                <td>
                
                    <ng-container *ngIf="entreprise.commercial_id">
                        {{ entreprise.commercial || '-'}}
                    </ng-container>
                    <ng-container *ngIf="!entreprise.commercial_id">
                        -
                    </ng-container>
                </td>
                <!-- <td>
                    
                     
                            {{ entreprise.created  || '-'}}
                    
                </td>
                <td>
                    
                       
                            {{ entreprise.modified  || '-'}}
                    
                </td> -->
                <td >
                            {{entreprise.adresse || '-'}}
                </td>
                <td >
                                <button *ngIf="(role=='rescom' || role=='pres') && !readOnly" pButton [text]="true" type="button" tooltipPosition="bottom"  pTooltip="Assigner" icon="pi pi-check-circle" (click)="assigner(entreprise)"></button>
        <p-confirmPopup />
                                <button *ngIf="!readOnly" pButton [text]="true" severity="danger" type="button" tooltipPosition="bottom"  pTooltip="Supprimer" icon="pi pi-trash" (click)="deleteEntreprise($event,entreprise)"></button>
                                <button pButton [text]="true" type="button" tooltipPosition="bottom"  pTooltip="Détails" icon="pi pi-info-circle" (click)="afficherDetails(entreprise)"></button>
                                <button *ngIf="!readOnly" pButton [text]="true" severity="warning" type="button" tooltipPosition="bottom" pTooltip="Modifier" icon="pi pi-pencil" (click)="editEntreprise(entreprise)"></button>

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog *ngIf="role=='rescom' || role=='pres'" [maximizable]="true" header="Assigner entreprise" [modal]="true" [(visible)]="assignModel" [style]="{ width: '30rem' }">
   <p-table 
  [value]="commercials" 
  selectionMode="single"
  dataKey="id"
  [paginator]="true"
  [rows]="20"
  [responsiveLayout]="'scroll'">
  
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Nom/Prénom</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr [pSelectableRow]="user" (dblclick)="onRowDoubleClick(user)">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.last_name }} {{ user.first_name }}</td>
    </tr>
  </ng-template>
</p-table>

</p-dialog>
<p-dialog header="Inscrire une entreprise" [(visible)]="createDialog" [modal]="true" [style]="{width: '800px', maxHeight: '90vh'}" [contentStyle]="{'overflow-y': 'auto'}" [maximizable]="true">

        <!-- Register Form -->
        <form [formGroup]="registerForm" class="p-fluid grid">

            <!-- Contact Principal Section -->
            <div class="col-12">
                <h4 class="text-primary border-bottom-1 pb-2">Contact Principal</h4>
            </div>

            <!-- Last Name -->
            <div class="field col-12 md:col-6">
                <label for="lastname" class="font-semibold">Nom *</label>
                <input pInputText id="lastname" formControlName="lastname" placeholder="Entrez le nom"
                    class="w-full" />
            </div>

            <!-- First Name -->
            <div class="field col-12 md:col-6">
                <label for="firstname" class="font-semibold">Prénom *</label>
                <input pInputText id="firstname" formControlName="firstname" placeholder="Entrez le prénom"
                    class="w-full" />
            </div>

            <!-- Phone Number -->
            <div class="field col-12 md:col-6">
                <label for="phonenumber" class="font-semibold">Numéro de téléphone *</label>
                <input pInputText id="phonenumber" formControlName="phonenumber"
                    placeholder="Entrez le numéro de téléphone" class="w-full" />
            </div>

            <!-- Email -->
            <div class="field col-12 md:col-6">
                <label for="email" class="font-semibold">Email (Identifiant de connexion) *</label>
                <input pInputText id="email" formControlName="email" placeholder="Entrez l'email"
                    class="w-full" />
            </div>

            <!-- Function in Company -->
            <div class="field col-12 md:col-6">
                <label for="functionInCompany" class="font-semibold">Fonction dans l'entreprise *</label>
                <input pInputText id="functionInCompany" formControlName="functionInCompany"
                    placeholder="Entrez la fonction" class="w-full" />
            </div>

            <!-- Password -->
            <div class="field col-12 md:col-6">
                <label for="password" class="font-semibold">Mot de passe *</label>
                <input pInputText id="password" formControlName="password"
                    placeholder="Entrez le mot de passe" class="w-full" type="password" />
            </div>

            <!-- Confirm Password -->
            <div class="field col-12 md:col-6">
                <label for="confirmPassword" class="font-semibold">Confirmer le mot de passe *</label>
                <input pInputText id="confirmPassword" formControlName="confirmPassword"
                    placeholder="Confirmez le mot de passe" class="w-full" type="password" />
            </div>

            <!-- Informations Générales Section -->
            <div class="col-12 mt-3">
                <h4 class="text-primary border-bottom-1 pb-2">Informations générales</h4>
            </div>

            <!-- Company Name -->
            <div class="field col-12 md:col-6">
                <label for="companyName" class="font-semibold">Nom de l'entreprise *</label>
                <input pInputText id="companyName" formControlName="companyName"
                    placeholder="Entrez le nom de l'entreprise" class="w-full" />
            </div>

            <!-- Company SIREN -->
            <div class="field col-12 md:col-6">
                <label for="companySiren" class="font-semibold">{{ labelSiren }} *</label>
                <input pInputText id="companySiren" formControlName="companySiren"
                    placeholder="Entrez le numéro SIREN" class="w-full" />
            </div>

            <!-- Is in France -->
            <div class="field-checkbox col-12 mb-3">
                <p-checkbox formControlName="isNotInFrance" [binary]="true" inputId="isNotInFrance" (click)="onCheckboxChange()"></p-checkbox>
                <label for="isNotInFrance" class="ml-2">Vous n'êtes pas en France</label>
            </div>

            <!-- Adresse -->
            <div class="field col-12">
                <label for="companyAdresse" class="font-semibold">Adresse</label>
                <input pInputText id="companyAdresse" formControlName="companyAdresse"
                    placeholder="Entrez l'adresse" class="w-full" />
            </div>

            <!-- Téléphones -->
            <div class="field col-12 md:col-6">
                <label for="companyTelephoneStandard" class="font-semibold">Téléphone standard</label>
                <input pInputText id="companyTelephoneStandard" formControlName="companyTelephoneStandard"
                    placeholder="0604030201" class="w-full" />
            </div>

            <div class="field col-12 md:col-6">
                <label for="companyTelephoneFax" class="font-semibold">Téléphone fax</label>
                <input pInputText id="companyTelephoneFax" formControlName="companyTelephoneFax"
                    placeholder="-" class="w-full" />
            </div>

            <!-- Site web -->
            <div class="field col-12">
                <label for="companySiteweb" class="font-semibold">Site web</label>
                <input pInputText id="companySiteweb" type="url" formControlName="companySiteweb"
                    placeholder="www.exemple.fr" class="w-full" />
            </div>

            <!-- Informations de Facturation Section -->
            <div class="col-12 mt-3">
                <h4 class="text-primary border-bottom-1 pb-2">Informations de facturation</h4>
            </div>

            <!-- Facturation Nom -->
            <div class="field col-12 md:col-6">
                <label for="companyFctNom" class="font-semibold">Nom de facturation</label>
                <input pInputText id="companyFctNom" formControlName="companyFctNom"
                    placeholder="Nom pour la facturation" class="w-full" />
            </div>

            <!-- Facturation Adresse -->
            <div class="field col-12 md:col-6">
                <label for="companyFctAdresse" class="font-semibold">Adresse de facturation</label>
                <input pInputText id="companyFctAdresse" formControlName="companyFctAdresse"
                    placeholder="Adresse pour la facturation" class="w-full" />
            </div>


            <!-- Messages d'erreur -->
            <div class="col-12">
                <p-message *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched"
                    severity="error" text="Nom requis" styleClass="w-full mt-1"></p-message>

                <p-message *ngIf="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched"
                    severity="error" text="Prénom requis" styleClass="w-full mt-1"></p-message>

                <p-message *ngIf="registerForm.get('phonenumber')?.invalid && registerForm.get('phonenumber')?.touched"
                    severity="error" text="Numéro de téléphone requis" styleClass="w-full mt-1"></p-message>

                <p-message *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" severity="error"
                    text="Email requis ou format invalide" styleClass="w-full mt-1"></p-message>

                <p-message *ngIf="registerForm.get('companyName')?.invalid && registerForm.get('companyName')?.touched"
                    severity="error" text="Nom de l'entreprise requis" styleClass="w-full mt-1"></p-message>

                <p-message *ngIf="registerForm.get('companySiren')?.invalid && registerForm.get('companySiren')?.touched"
                    severity="error" text="Numéro SIREN requis" styleClass="w-full mt-1"></p-message>

                <p-message
                    *ngIf="registerForm.get('functionInCompany')?.invalid && registerForm.get('functionInCompany')?.touched"
                    severity="error" text="Fonction requise" styleClass="w-full mt-1"></p-message>

                <p-message *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                    severity="error" text="Mot de passe requis (min 10 caractères, un symbole, un caractère majuscule, un caractère miniscule)" styleClass="w-full mt-1"></p-message>

                <p-message
                    *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
                    severity="error" text="Les mots de passe doivent correspondre" styleClass="w-full mt-1"></p-message>
            </div>
        </form>
         <ng-template pTemplate="footer">
             <p-button 
             label="Annuler" 
             [outlined]="true" 
             severity="primary" 
             (onClick)="createDialog = false" 
             />
             <p-button 
                 label="Confirmer" 
                 (click)="onSubmit()" 
                 [disabled]="registerForm.invalid"/>
        </ng-template>
</p-dialog>
<p-dialog *ngIf="selectedEntreprise" header="Détails Entreprise" [(visible)]="viewEntrepriseDialogVisible" [modal]="true" [closable]="true" [style]="{width:'700px'}">
  <div class="p-fluid grid">
<h3 class="text-blue-400">Détail entreprise</h3></div>
    <div class="field col-12 md:6"><strong>Nom:</strong> {{ selectedEntreprise.nom || '-' }}</div>
    <div class="field col-12 md:6"><strong>SIREN:</strong> {{ selectedEntreprise.siren || '-' }}</div>
    <div class="field col-12 md:6"><strong>Adresse:</strong> {{ selectedEntreprise.adresse || '-' }}</div>
    <div class="field col-12 md:6"><strong>Téléphone standard:</strong> {{ selectedEntreprise.telephone_standard || '-' }}</div>
    <div class="field col-12 md:6"><strong>Téléphone fax:</strong> {{ selectedEntreprise.telephone_fax || '-' }}</div>
    <div class="field col-12 md:6"><strong>Site web:</strong>
        <a *ngIf="selectedEntreprise.siteweb" [href]="selectedEntreprise.siteweb" target="_blank">{{ selectedEntreprise.siteweb }}</a>
        <span *ngIf="!selectedEntreprise.siteweb">-</span>
    </div>
    <div class="field col-12 md:6"><strong>A participé:</strong> {{selectedEntreprise.has_participated ? (selectedEntreprise.has_participated == 1 ? 'Oui' : 'Non') : '-' }}</div>
    <div class="field col-12 md:6"><strong>Créer le:</strong> {{ selectedEntreprise.created || '-' }}</div>
    <h3 class="text-blue-400">Commercial assigné</h3>
    <div class="field col-12 md:6"><strong>Commercial:</strong> {{ selectedEntreprise.commercial || '-' }}</div>
    <h3 class="text-blue-400">Détails facturation</h3>
    <div class="field col-12 md:6"><strong>Facturation Nom:</strong> {{ selectedEntreprise.fct_nom || '-' }}</div>
    <div class="field col-12 md:6"><strong>Facturation Adresse:</strong> {{ selectedEntreprise.fct_adresse || '-' }}</div>


    <!-- Contact Principal Information -->
    <h3 class="text-blue-400">Contact Principal</h3>
    <div class="field col-12 md:6"><strong>Nom du Contact:</strong> {{ selectedEntreprise.contact_nom || '-' }}</div>
    <div class="field col-12 md:6"><strong>Email du Contact:</strong> {{ selectedEntreprise.contact_email || '-' }}</div>
    <div class="field col-12 md:6"><strong>Téléphone du Contact:</strong> {{ selectedEntreprise.contact_telephone || '-' }}</div>
    <div class="field col-12 md:6"><strong>Fonction du Contact:</strong> {{ selectedEntreprise.contact_fonction || '-' }}</div>

  <p-footer>
    <button pButton label="Fermer" icon="pi pi-times" (click)="viewEntrepriseDialogVisible=false"></button>
  </p-footer>
</p-dialog>

<!-- EDIT ENTERPRISE DIALOG -->
<p-dialog *ngIf="selectedEntreprise" header="Modifier Entreprise" [(visible)]="editEntrepriseDialogVisible" [modal]="true" [closable]="true" [style]="{width:'800px', maxHeight: '90vh'}" [contentStyle]="{'overflow-y': 'auto'}">
  <form [formGroup]="editEntrepriseForm" class="p-fluid grid">

    <div class="col-12">
      <h4 class="text-primary border-bottom-1 pb-2">Informations générales</h4>
    </div>

    <!-- Nom de l'entreprise -->
    <div class="field col-12 md:col-6">
      <label for="edit_nom" class="font-semibold">Nom *</label>
      <input pInputText id="edit_nom" formControlName="nom" class="w-full" placeholder="Forum ESTP" />
    </div>

    <!-- SIREN -->
    <div class="field col-12 md:col-6">
      <label for="edit_siren" class="font-semibold">SIREN</label>
      <input pInputText id="edit_siren" formControlName="siren" class="w-full" placeholder="552037806" />
    </div>

    <!-- Adresse -->
    <div class="field col-12">
      <label for="edit_adresse" class="font-semibold">Adresse</label>
      <input pInputText id="edit_adresse" formControlName="adresse" class="w-full" placeholder="ai-50000-loin" />
    </div>

    <!-- Téléphones -->
    <div class="field col-12 md:col-6">
      <label for="edit_telephone_standard" class="font-semibold">Téléphone standard</label>
      <input pInputText id="edit_telephone_standard" formControlName="telephone_standard" class="w-full" placeholder="0604030201" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="edit_telephone_fax" class="font-semibold">Téléphone fax</label>
      <input pInputText id="edit_telephone_fax" formControlName="telephone_fax" class="w-full" placeholder="-" />
    </div>

    <!-- Site web -->
    <div class="field col-12 md:col-12">
      <label for="edit_siteweb" class="font-semibold">Site web</label>
      <input pInputText id="edit_siteweb" type="url" formControlName="siteweb" class="w-full" placeholder="forumetp.fr" />
    </div>


    <div class="col-12 mt-3">
      <h4 class="text-primary border-bottom-1 pb-2">Informations de facturation</h4>
    </div>

    <!-- Facturation Nom -->
    <div class="field col-12 md:col-6">
      <label for="edit_fct_nom" class="font-semibold">Nom de facturation</label>
      <input pInputText id="edit_fct_nom" formControlName="fct_nom" class="w-full" />
    </div>

    <!-- Facturation Adresse -->
    <div class="field col-12 md:col-6">
      <label for="edit_fct_adresse" class="font-semibold">Adresse de facturation</label>
      <input pInputText id="edit_fct_adresse" formControlName="fct_adresse" class="w-full" />
    </div>

    <!-- Messages d'erreur -->
    <div class="col-12">
      <p-message *ngIf="editEntrepriseForm.get('nom')?.invalid && editEntrepriseForm.get('nom')?.touched"
                 severity="error" text="Le nom est requis" styleClass="w-full mt-1"></p-message>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <button pButton label="Annuler" icon="pi pi-times" class="p-button-text" (click)="cancelEdit()"></button>
    <button pButton label="Enregistrer" icon="pi pi-check" [disabled]="editEntrepriseForm.invalid" (click)="saveEntrepriseChanges()"></button>
  </ng-template>
</p-dialog>
