<div class="bg-white flex justify-content-end align-items-center px-4 py-3 border-bottom-1 border-200">Connecté en tant que {{nom}}<button (click)="logout()" label="Se déconnecter" class="ml-2 p-button-danger"
        pButton size="small" icon="pi pi-times" [outlined]="true" severity="danger"></button>
</div>

<div class="bg-white min-h-screen pt-3">

    <p-stepper [(activeStep)]="step">
        <p-stepperPanel header="Introduction">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                <app-introduction></app-introduction>
                <div class="flex justify-content-between">
                    <div></div>
                    <p-button label="Suivant" icon="pi pi-arrow-right" iconPos="right"
                        (onClick)="incrementStep()" />
                </div>            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Votre entreprise">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                let-index="index">
                <app-votre-entreprise></app-votre-entreprise>
                <div class="flex justify-content-between">
                    <p-button label="Retour" icon="pi pi-arrow-left" iconPos="left" (onClick)="decrementStep()" />
                    <p-button label="Suivant" icon="pi pi-arrow-right" iconPos="right"
                        (onClick)="incrementStep()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Bon de commande 1">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                let-index="index">
                <app-bc1></app-bc1>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Bon de commande 2">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                let-index="index">
                <app-bc2></app-bc2>
                <div class="flex justify-content-between">
                    <p-button label="Retour" icon="pi pi-arrow-left" iconPos="left" (onClick)="decrementStep()" />
                    <p-button label="Suivant" icon="pi pi-arrow-right" iconPos="right"
                        (onClick)="incrementStep()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Récapitulatif">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                <app-bc2></app-bc2>
                <p-button label="Retour" icon="pi pi-arrow-left" iconPos="left" (onClick)="decrementStep()" />
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>